{% extends "layouts/base.html" %}
{% block title %} Change password {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<hr>

<div class='row'>
    <div class='col-md-4 col-10  mx-auto'>
    <h4>Reset your Password</h4>
        <form method='post' action=''>{% csrf_token %}
        <div class="form-control">
          {{ form.as_p }}
        </div> <br>
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-block btn-info'>Reset Password</button>
        </form>
      </div>
</div>
{% endblock %}
