{% extends 'base.html' %}

{% block content %}
<style>
    .card {
  margin: auto;
  width: 50%;
  border: 3px solid grey;
  padding: 10px;
}
</style>
<div class="container">
    <div class="alert alert-primary" role="alert">
        <h3 style="text-align: center;">smartCare Login</h3>
    </div>

    <div class="form-group">
        <form method="POST"> {% csrf_token %}
            <div class="col-md-12 mb-3">
            {{ form.as_p }}

            {% if request.GET.next %}
                <input type="hidden" name="next"  value="{{ request.GET.next }}">
            {% endif %}

            <input type="submit" class="btn btn-success", value="Login"><br>
            <!-- <a href="{% url 'register' %}" class="btn btn-primary my-2">Click here to <b>Register</b> if you have no login credentials</a> -->
            </div>
        </form>
    </div>
</div>
<!-- </div> -->
{% endblock %}