{% extends "layouts/base.html" %}

{% block title %} Preview {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} <br>


<div class="container">
  <h3>Preview your submission</h3>
  <div class="row g-3">
    <div class="col-md-5">
      <h4>Bio_data</h4>

      <p>Firstname: {{ form.cleaned_data.first_name }}</p>
      <p>Lastname: {{ form.cleaned_data.last_name }}</p>
      <p>Othernames: {{ form.cleaned_data.other_names }}</p>
      <p>Gender: {{ form.cleaned_data.gender }}</p>
      <p>Date of Birth: {{ form.cleaned_data.date_of_birth }}</p>
      <p>Marital Status: {{ form.cleaned_data.marital_status }}</p> 
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-5">
      <h4>Address</h4>
      <p>Phone 1: {{ form.cleaned_data.phone_1 }}</p>
      <p>Phone 2: {{ form.cleaned_data.phone_2 }}</p>
      <p>Address: {{ form.cleaned_data.address }}</p>
    </div>

  </div>
    
  <br>
    <div style="text-align: right;">
      <form action="{% url 'registration' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        {{ field.as_hidden }}
        {% endfor %}
        <input type="hidden" name="{{ stage_field }}" value="2" />
        <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />

        <!-- Submit button -->
        <button type="submit">Submit record</button>
        <!-- Go back button -->
        <button type="submit">
          <a href="{% url 'registration' %}" 
            onClick="history.go(-1);return false;" >
            Go back and edit your entries
          </a>
      </button>

  </div>

  </form>
  </div>
</div>
{% endblock %}