{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %} <br>

    <form action="/update_appointment/{{ obj.id }}" method="POST">{% csrf_token %}
        Clinic: <select name="" id="">
                    <option value="{{obj.clinic.id}}">{{obj.clinic}}</option>
                </select><br><br>
        Appointment Date: <input type="date" name="app_date" value="{{obj.appointment_date}}"><br><br>
        Appointment Time: <input type="text" value="{{obj.appointment_time}}"><br><br>
        Appointment Time: <input type="text" value="{{obj.id}}"><br><br>
        <input type="submit" value="Update">
    </form> 

{% endblock %}